body{
	padding: 0;
	margin: 0;
}

section{
	width: 100%;
	height: 100%;
}

/*---------------component for new Mail---------------------*/
.send-mail{
  margin: auto;
  width: 70%;
}
.mail-content{
  display: flex;
  flex-direction: column;
}
.form-row{
  margin-top:9px;
}
.form-row input, .new-group form input{
  width: 100%;
  height: 2em;
}
.form-row textarea, .new-group form textarea{
  width: 102%;
  height: 120%;
}
.form-row button{
  margin-top: .91%;
  height: 2.7em;
  width: 104%;
}
.mail-content > .radio{
	margin-top: 55px;
}
.mail-content > .radio h6{
	margin-top: 5px;
}


/*-------------------------------extra text included in list pages------------------*/
.extra, .profile-edit{
	margin-left: 15px;
}

/*------------------profile--------------*/
.profile-edit{
	display: flex;
	flex-direction: column;
	margin-top:5%;
	margin-left:23%;
	width:58%;
	background-color: #e3e4e6;
}
.profile-text, .profile-form {
	padding:5px 5px 5px 11px;
}
.profile-form button{
	background-color: #7d0314;
	border-radius: 15%;
	display: flex;
	padding:5px 11px 5px 11px;
  color: white;
}

/*---------------------------create group------------------*/
.new-group{
	margin-left: 25px;
	display: flex;
	flex-direction: column;
	
}
.new-group form button{
	margin-top: .91%;
  	height: 2.7em;
  	width: 88%;
}
.new-group form input{
  margin-top:.91%;
  margin-bottom:.71%;
  width: 87%;
  height: 2em;
}
 .new-group form textarea{
 	margin-top:.91%;
 	margin-bottom:.71%;
    width: 88%;
    height: 100%;
}
.new-group form label{
	margin-top: 17px;
}

/*---------------------------table list ---------------------*/
.card-main {
  background-color: #FFF;
  width: 100%;
  border:none;
}

.card-header {
  display: flex;
  flex-direction: row;
  height:35px;
  color: #FFF;
  width: 100%;
  margin-bottom: 12px;
}
.card-header-title, .card-header-title-group {
	height: 32px;
	padding-top:9px;
	margin:auto;
	border-right: 1px solid white;
	background-color: #7d0314;
	text-align: center;
	font-weight: bold;
}
.card-header-title-group{
  width: 15%;
  margin: 5px 0 0 3px;
  display: flex;
  padding-left: 16px;

}
.card-header-title:nth-child(3){
	width: 53%;
}
.card-header-title:nth-child(1),
.card-header-title:nth-child(2),
.card-header-title:nth-child(4){
	width: 15%;
}


.card-row {
  position: relative;
  display: flex;
  flex: 1;
  margin: 5px 0 ;
}

.card-time {
  display: flex;
  font-size: 13px;
  padding: 9px;
  width: 15%;
  color: slategrey;
  background-color: rgba(12,13,14,0.05);
  border-right: 2px solid white;
}

.card-detail {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 9px;
  transform: translateX(0);
  transition: all .3s;
  width: 54%;
  color: slategrey;
  background-color: rgba(12,13,14,0.05);
  border-right: 2px solid white;
}
.card-detail:hover {
  background-color: #f0f0f0;
  transform: translateX(4px);
  cursor: pointer;
  color: slategrey;
}
.card-source {
  width: 15%;
  color: slategrey;
   background-color: rgba(12,13,14,0.05);
   padding: 9px;
   border-right: 2px solid white;
}
.card-title {
  padding: 9px;
  width: 15%;
  color: slategrey;
   background-color: rgba(12,13,14,0.05);
   border-right: 2px solid white;
}


@media only screen and (max-width:769px) {	
.card-header, .card-header-title{
	display: none;
	visibility: hidden;
}	
.card-row {
	display: flex;
  	flex-direction: column;
 	 flex-wrap: wrap;
  }

.card-time {
  font-size: 13px;
  color: grey;
  width: 99%;
  padding:5px 0 0 5px;
  margin: 0;
}

.card-detail {
  transform: translateX(0);
  transition: all .3s;
  width: 99%;
  padding:5px 0 0 5px;
  margin: 0;
}
.card-detail:hover {
  background-color: #f0f0f0;
  transform: translateX(4px);
  cursor: pointer;
}
.card-source {
  line-height: 1.8;
  color: #7d0314;
  width: 99%;
  padding:5px 0 0 5px;
  margin: 0;
}
.card-title {
  color: #777;
  font-weight: bold;
  width: 99%;
  padding:5px 0 0 5px;
  margin: 0;
	}
}